*{
    padding:0;
    margin: 0;
    background-color: rgb(224, 78, 45);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h2{
    text-align: center;
    position: relative;
    top:50px;
    color: burlywood;

}

.adding-todo{
    display: flex;
   justify-content: center;
   margin-top: 20%;
}

.input_box{
    background-color: transparent; 
    border:aqua solid ;
    outline: none;
    transition: border 0.5s ;
    width: 50%;
    color: burlywood;
}

.input_box[type=text]:focus{
  border:  whitesmoke solid ;
  border-radius: 5px;
   
}

.button{
    outline: none;
    border: aqua solid 3px;
    margin-left: 2%;
    padding: 1%;
    color: burlywood;
   
}

.button:hover{
    border: aquamarine solid 3px ;
    border-radius: 10px;
}

.button:active{
    background-color: grey;
}



